{% extends "base.html" %}

{% load static %}
{% load bleach_tags %}

{% block additional_header_items %}
    <style>
    .project-container{
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .project-body{
        height: 200px;
        overflow: auto;
        flex-grow: 1;
    }
    </style>
    <script>currentTab="projects"</script>
{% endblock additional_header_items %}

{% block tab_name %}
    Projects
{% endblock tab_name %}

{% block content %}
    <div class="d-flex  flex-wrap align-content-stretch justify-content-center">
        {% for project in projects %}
            <div class="project-container border rounded p-2 m-2">
                <h3 class="text-center">{{ project.title }}</h3>
                <img src="{{ project.image.url }}"
                     alt="{{ project.title }} image"
                     width="100%"
                     height="160px">
                <hr>
                <div class="project-body">{{ project.body | bleach }}</div>
                <hr>
                <h4 class="text-center">Tags</h4>
                <div class="text-center">
                    {% for tag in project.tags.all %}
                        <span class="badge text-bg-primary me-1 text-center text-shadow">{{ tag.text }}</span>
                    {% endfor %}
                </div>
                <hr>
                <h4 class="text-center">Links</h4>
                <div class="text-center">
                    {% for link in project.links.all %}
                        <a class="badge text-bg-primary text-shadow"
                           href="{{ link.url }}"
                           target="_blank"
                           rel="noopener noreferrer">{{ link.text }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center my-2">
    <a href="mailto:isaachisey@gmail.com"
       target="_blank"
       class="btn btn-success btn-lg shadow text-shadow">Get in Touch</a>
  </div>
{% endblock content %}
